@charset "UTF-8";

@media (max-width: 1080px){
    header {
        font-size: 18px;
        justify-content: space-evenly;
    }

    nav {
        display: none;
    }

    .search-bar {
        position: relative;
        background: rgb(19, 19, 19);
        text-align: center center;
        left: 18px;
        padding: 13px;
        width: 150px;
        border-radius: 10px;
        font-size: 15px;
        color: white;
        transition: border-color 0.3s ease;
    }

    .search-container {
        padding-left: 45px;
    }

     .logo {
        font-size: 10px;
        margin: 2px;
    }

    .auth-links a {
        text-decoration: none;
        color: white;
        margin-left: 1px;
        font-size: 12px;
        left: 0.1px;
        position: relative;
    }

    .game {
        width: 125px; 
    }
}
